#screen{
  width: 300px;
  height: 200px;
  text-align: center;
  user-select: none;
}
#screen{
  &.waiting{
    background-color:aqua;
  }
  &.ready{
    background-color:red;
    color:white;
  }
  &.now{
    background-color: greenyellow;
  }
}
